<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.itbeyond.eotrackme" android:versionCode="3"
          android:versionName="3" android:installLocation="auto">

    <uses-sdk android:minSdkVersion="5" android:targetSdkVersion="5"/>


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    
    <supports-screens android:smallScreens="true"
                      android:normalScreens="true" android:largeScreens="true"
                      android:anyDensity="true"/>

    <!--suppress AndroidDomInspection -->
     <application android:icon="@drawable/icon_32" android:allowBackup="true"
                 android:name="@string/app_name" android:label="@string/app_name">

        <service android:name="com.itbeyond.eotrackme.GpsLoggingService">
            <intent-filter>
                <action android:name="com.itbeyond.eotrackme.GpsLoggingService"/>
            </intent-filter>
        </service>

        <activity android:name="com.itbeyond.eotrackme.GpsMainActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTask" android:configChanges="locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.itbeyond.eotrackme.GpsSettingsActivity"
                  android:label="@string/settings_screen_name"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.itbeyond.eotrackme.shortcuts.ShortcutCreateate" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.itbeyond.eotrackme.shortcuts.ShortcutStartart" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name="com.itbeyond.eotrackme.shortcuts.ShortcutStoptop" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
   
        <receiver android:enabled="true"
                  android:name="com.itbeyond.eotrackme.StartupReceiver"
                  android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </receiver>

        <receiver android:name="com.itbeyond.eotrackme.senders.AlarmReceiver_EOTrackMe"/>
    </application>

</manifest> 